@media screen and (max-width: 1200px){
    .navbar{
        position: relative;
    }
.menu {
    display: none;
}
.logo {
    margin: 0;
    text-align: center;
}
.apresentation{
    padding-top: 50px;
}
.headline{
    flex: 100%;
    margin: 5%;
    text-align: center;
}
.headline h2{
    text-align: center;
    flex: 100%;
    margin: 5%;
}
.img-headline{
    flex: 100%;
    margin: 5%;
    text-align: center;
}
.card {
    width: 100%;
}
h6{ 
    display: none;
}
}